# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

OEROOT := "${@os.path.abspath(os.path.dirname(d.getVar('FILE')) + '/../..')}"

BBLAYERS ?= " \
  ${OEROOT}/poky-kirkstone/meta \
  ${OEROOT}/poky-kirkstone/meta-poky \
  ${OEROOT}/poky-kirkstone/meta-yocto-bsp \
  ${OEROOT}/poky-kirkstone/meta-raspberrypi \
  ${OEROOT}/poky-kirkstone/meta-qt5 \
  ${OEROOT}/poky-kirkstone/meta-openembedded/meta-oe \
  ${OEROOT}/poky-kirkstone/meta-openembedded/meta-python \
  ${OEROOT}/poky-kirkstone/meta-openembedded/meta-networking \
  ${OEROOT}/poky-kirkstone/meta-ros/meta-ros2-humble \
  ${OEROOT}/poky-kirkstone/meta-ros/meta-ros2 \
  ${OEROOT}/poky-kirkstone/meta-ros/meta-ros-common \
  ${OEROOT}/poky-kirkstone/meta-rpi-robot \
  "
